@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mukta", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #494D5F;
    flex-wrap: wrap;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: #c9ebe4;
    border: 6px solid #5d2b02;
    border-radius: 16px;
    padding: 64px 16px 24px 16px;
    gap: 16px;
    width: 100%;
    max-width: 400px;
    margin: 32px;
}

.display {
    height: 60px;
    border: 5px solid #5d2b02;
    background-color: #c5d4d9;
}

#computation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: #6f7277;
    height: 100%;
    border: 4px solid #467f89;
    padding-right: 8px;
    overflow: hidden;
    white-space: nowrap;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.buttons-row {
    display: flex;
    gap: 6px;
}

.buttons-row > button {
    border: 6px solid #5d2b02;
    border-radius: 8px;
    color: #4563aa;
    font-size: 24px;
    font-weight: bold;
    background-color: #fadda1;
    width: 54px;
    height: 48px;
    flex: 1;
}

#delete-btn {
    background-color: #E53935;
}

#clear-btn {
    background-color: #FFFF62;
}

.buttons-row > button:hover, #delete-btn:hover, #clear-btn:hover {
    color: #fadda1;
    background-color: #4563aa;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fadda1;
}

table {
    border-collapse: collapse;
}

table, tr, td, th {
    border: 6px solid #5d2b02;
    padding: 12px;
}

th {
    background-color: #1d1e22;
    font-size: 20px;
    font-weight: bold;
}

td {
    font-size: 18px;
    color: #dfd8c8;
    background-color: #4b6777;
}